$background: #08d9d6;

body {
  padding: 4rem;
  margin: 0;
  display: grid;
  place-items: center;
  background: $background;
}

.container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .computer {
    position: relative;
    .monitor {
      width: 61.88rem;
      height: 39rem;
      background: #020605;
      border-radius: 2rem;
      border-bottom-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .display {
        width: 57.88rem;
        height: 30rem;
        background: url("images/wallpaper.webp");
        margin: 2rem 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .lower-bezel {
        height: 5rem;
        width: 61.88rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background: #ACACAC;
        display: grid;
        place-items: center;

        img {
          height: 3rem;
        }
      }
    }

    .stand {
      position: absolute;
      z-index: -1;
      left: 26rem;

      .upper {
        width: 9rem;
        height: 7.5rem;
        margin-top: -2rem;
        transform: perspective(400px) rotateX(30deg);
        background: rgb(191,189,189);
        background: linear-gradient(0deg, rgba(105,106,107,0.9) 5%, rgba(255,250,250,1) 12%, rgba(255,250,250,1) 25%, #78797D 90%);
      }

      .lower {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        width: 11rem;
        height: 12rem;
        margin-top: -6rem;
        margin-left: -1rem;
        transform: perspective(800px) rotateX(84deg);
        box-shadow: 0 0.4rem 0.2rem white, 0 1rem 0.1rem #3D3D3D;
        background: rgb(250,246,246);
        background: linear-gradient(0deg, rgba(237,230,230,1) 10%, rgba(207,198,198,1) 51%, rgba(105,106,107,1) 100%);
      }
    }
  }
}
